body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    height: 50vh;
}
.form-container {
    background-color: blue;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    border-radius: 8px;
}

table {
    max-width: 500px;
}